.background-flower {
    background: url("../images/fundo.jpg") center bottom;
    /* background-repeat: no-repeat; */
    background-size:100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    top: 0; 
}

img {
    border-radius: 50%;
}